imports:
    - vendor/sylius/sylius/behat.yml.dist
    - src/AppBundle/Behat/Resources/suites/managing_suppliers.yml

default:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - "vendor/sylius/sylius/src/Sylius/Behat/Resources/config/services.xml"
                - "src/AppBundle/Behat/Resources/services.yml"

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "vendor/sylius/sylius/features"
                - "features"

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"

cached:
    extensions:
        FriendsOfBehat\ContextServiceExtension:
            imports:
                - "vendor/sylius/sylius/src/Sylius/Behat/Resources/config/services.xml"

        Behat\MinkExtension:
            javascript_session: chromium
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
